<div class="bg-img">
  <div class="bgPosition" [class.bg]="bgVar"></div>
</div>

<header [class.headerFixed]="hdVar">
  <div class="container">
    <div class="logo">
      <img src="../../assets/images/logodum.png" alt="" srcset="" />
    </div>
  </div>
</header>
<section class="banner">
  <div class="container">
    <div class="banner-container">
      <h1>Random</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis
        maiores nam magnam, hic ipsum unde quisquam laborum vel consectetur qui
        corporis nemo ex velit labore, aliquid repellat? Facere, doloribus
        obcaecati?
      </p>
      <ul>
        <li>
            <h2>Agency</h2>
            <p>Personal content</p>
        </li>
        <li>
            <h2>Agency</h2>
            <p>Personal content</p>
        </li>
        <li>
            <h2>Agency</h2>
            <p>Personal content</p>
        </li>
        <li>
            <h2>Agency</h2>
            <p>Personal content</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="gallery">
    <div class="container">
       <div class="gallery-container">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/images/pexels-helena-lopes-1388069.jpg" alt="" srcset="">
          </div>
          <div class="col-md-6">
            <img src="../../assets/images/pexels-helena-lopes-1388069.jpg" alt="" srcset="">
          </div>
        </div>
       </div> 
    </div>
</div>
